html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.title {
  display: flex;
  font-size: 24px;
  color: #666;
  text-align: center;
}

.app {
  display: flex;
  background-color: #eee;
  flex-direction: column;
  height: 100%;
}

.status {
  margin: 5% 0;
  text-align: center;
}

.slides {
  height: 60%;
  padding: 0 5%;
  display: flex;
  align-content: center;
}

.slide {
  height: 100%;
  flex-grow: 1;
  margin: 0 10px;
  border: 0;
  pointer-events: none;
}

.button {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  background-color: #ddd;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #ccc;
  outline: 0;
}
