html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

.centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.title {
  display: flex;
  font-size: 24px;
  color: #666;
  text-align: center;
}

.status {
  height: 10vh;
  padding: 20px;
  box-sizing: border-box;
}

.slides {
  height: 90vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.slide {
  height: 100%;
  flex-grow: 1;
  margin: 0 5px;
  border: 1px solid black;
  pointer-events: none;
}
